# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
app/Makefile
app/autom4te.cache/
app/config.log
app/config.status
app/libtool
app/src/.deps/
app/src/Makefile
app/src/client/.deps/
app/src/client/.libs/
app/src/client/Makefile
app/src/client/hac
app/src/misc/.deps/
app/src/misc/.libs/
app/src/misc/Makefile
app/src/server/.deps/
app/src/server/.libs/
app/src/server/Makefile
app/src/server/hacd

# Eclipse project files
.autotools
.cproject
.project
.settings/

# Client files
app/src/client/config.cfg
app/src/client/workunit.dat

# Server files
datadir/
log/