# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
app/Makefile
app/Makefile.in
app/autom4te.cache/
app/config.log
app/config.status
app/libtool
app/aclocal.m4
app/compile
app/config.guess
app/config.sub
app/configure
app/depcomp
app/install-sh
app/ltmain.sh
app/missing
app/src/.deps/
app/src/Makefile
app/src/Makefile.in
app/src/client/.deps/
app/src/client/.libs/
app/src/client/Makefile
app/src/client/Makefile.in
app/src/client/hac
app/src/misc/.deps/
app/src/misc/.libs/
app/src/misc/Makefile
app/src/misc/Makefile.in
app/src/server/.deps/
app/src/server/.libs/
app/src/server/Makefile
app/src/server/Makefile.in
app/src/server/hacd
app/src/test/.deps/
app/src/test/Makefile
app/src/test/Makefile.in
app/src/test/test

# Eclipse project files
.autotools
.cproject
.project
.settings/

# Client files
app/src/client/config.cfg
app/src/client/workunit.dat

# Server files
datadir/
log/

# Developer scripts
go.sh
